menu "encoder sensor"
    menuconfig COMMON_ENCODER_SENSOR
        bool "Common encoder sensors"
        default n
        select DRIVERS_ENCODER_SENSOR_AS5600
        ---help---
            Enable default set of encoder sensor drivers
    rsource "*/Kconfig"
endmenu #barometer
